.cocktail-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cocktail-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  max-width: 300px;  // Set a smaller max width for the detail card
  width: 100%;
  text-align: left;

  img {
    width: 70%;        // Reduce the image size further
    max-width: 150px;  // Set a maximum width for the image
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  h2 {
    font-size: 18px;
    margin-bottom: 8px;
    text-align: center;
  }

  p {
    font-size: 12px;
    color: #555;
    margin: 4px 0;
  }

  button {
    margin-top: 10px;
    padding: 5px 8px;
    font-size: 12px;
  }
}
